body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    margin: 0;
    background-color: #333333;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 30px;
}

aside {
    height: 100%; 
    width: 250px; 
    position: absolute; 
    top: 94px; 
    left: 0;
    background-color: #eeeeee; 
    overflow-x: hidden; 
    padding: 20px;
    padding-top: 20px;
}

aside input {
    margin-bottom: 20px;
}

aside a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #5d5bd1;
    text-decoration: none;
    margin: 0;
    display: inline-block;
    width: 215px;
    padding: 15px 15px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

#clear {
    font-size: 10px;
    height: 20px;
    background-color: #eeeeee;
    border: none;
    color: #6b6b6b;
}

#cities {
    background-color: white;
    border: solid #dddddd;
    border-radius: 5px;
    border-width: 1px;
    width: 245px;
}

main {
    margin-left: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#UVI {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#current {
    text-align: center;
    border-bottom: solid #cccccc 1px;
    display: inline-block;
    width: 70%;
    margin: 30px 20px;
    margin-bottom: 20px;
    padding: 20px 30px;
}

#current i {
    font-size: 100px;
}

#fiveday {
    margin: 10px;
}

.card {
    display: inline-block;
    background-color: #7573ff;
    color: #ffffff;
    padding: 10px 25px;
    margin: 5px;
    line-height: 2rem;
    text-align: center;
    font-size: 16px;
}

.card i {
    font-size: 40px;
}

.sunny {
    color: #ffde73;
}

.rainy {
    color: #a4cfff;
}

.cloudy {
    color: #fde6ff;
}